body{
    font-family:Arial, Helvetica, sans-serif;
}
#image{
    padding-top: 1%;
}

#navbar{
    position:absolute;
    right: 0%;
    top: 9%;
    background-size: 100%;
    background-color: #bd0926;
    height:7.5%;
    width: 82%;
    
}

.navbar a {
    float: left;
    font-size: 180%;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    position: relative;
    top: 0%;

}
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 180%;
    border: none;
    outline: none;
    color: white;
    padding: 8px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
  color: #ffed00;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #bd0926;
    color: #ffffff;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  